:root {
  --heading-font: "Cherry Bomb One", sans-serif;
  --body-font: "Quicksand", sans-serif;
}
html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(251, 251, 222);
}

header {
  background-color: #d7b8ec;
  min-height: 250px;
  padding: 70px;
  margin-top: 55px;
}

h1 {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 80px;
}

h2 {
  font-family: var(--body-font);
  font-weight: normal;
  font-size: 30px;
}

h3 {
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 24px;
}

.grids {
  width: 70%;
  margin: 0px auto;
  padding: 20px;
  text-align: left;
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 16px;
}

.small-content {
  text-align: center;
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 1300px) {
  .profile {
    width: 90%;
  }

  .grids {
    width: 90%;
  }
}

.nav-margin {
  margin-top: 55px;
}

.image-header {
  width: 100%;
  max-height: 200px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contact-btn {
  width: 200px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: #d7b8ec;
  border: 1px solid #d7b8ec;
  font-size: 18px;
}

.contact-btn:hover {
  color: #ffffff;
}

.background-one {
  background-color: #d7b8ec;
}

.background-two {
  background-color: none;
}

a,
.nav-link {
  color: rgb(43, 7, 68);
  text-decoration: none;
  transition: ease-in-out 200ms;
}

a:hover,
.nav-link:hover {
  color: rgb(86, 69, 5);
}

.navbar {
  background-color: rgb(251, 251, 222);
  font-family: var(--body-font);
}

footer {
  background-color: #d7b8ec;
  font-family: var(--body-font);
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  min-height: 100px;
  padding: 20px;
  position: sticky;
  top: 100vh;
  width: 100%;
}

.social-icon {
  background-color: rgb(251, 251, 222);
  width: 20px;
  height: auto;
  padding: 5px;
  border-radius: 5px;
}

.social-icon-holder {
  margin-top: 5px;
}
